// Colors
$primary-color: #003459;
$secondary-color: #002a48;
$light-orange-color: #fceed5;
$dark-grey-color: #242b33;
$white-color: #fdfdfd;
$light-black-color: #00171f;
$grey-a-color: #667479;
$black-color: #000000;
$light-blue-color: #00a7e7;
$lightest-grey-color: #99a2a5;

//font size
$size-xs: 10px;
$size-tiny: 12px;
$size-small: 14px;
$size-regular: 20px;
$size-medium: 16px;
$size-regular: 20px;
$size-large: 24px;
$size-larger: 28px;
$size-xl: 36px;
$size-2xl: 46px;
$size-3xl: 52px;
$size-4xl: 60px;

//spacing
$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-sm: 12px;
$spacing-md: 16px;
$spacing-lg: 20px;
$spacing-xl: 28px;
$spacing-2xl: 40px;

// Font weight
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;
$font-extrabold: 800;
// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 1280px;

// Row, col
$columns: 12;
$gap: 20px;
$gap-mobile: 12px;
